<footer class="footer">
    <div class="container">
      <div class="footer__content">
        <p>© Jonathan Thornton | All Rights Reserved</p>
        <p>
          UX Design by
          <a href="https://twitter.com/songadev" target="_blank" rel="noreferrer">
            Songa Mugenzi
          </a>
        </p>
      </div>
    </div>
  </footer>
  