<header class="page-header">
    <div class="container-full flow">
      <div class="page-header__content flow">
        <div>
          <a class="logo" href="/">Vippsi</a>
        </div>
        <nav>
          <ul role="list" class="nav-list flex-group">
            <li>
              <a href="/blog/">Blog</a>
            </li>
            <li>
              <a href="/projects/">Projects</a>
            </li>
            <li>
              <a href="/contact">Contact</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </header>